.container {
  background: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.inputBox
{
  border: 0;
  width: 90%;
}

.send
{
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}
